<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Use microphone to make videos of your goods </string>
	<key>NSCameraUsageDescription</key>
	<string>Use camera to make photos of your goods</string>
</dict>
</plist>
